**/*.js.map
**/*.pyc
**/*.pyi
**/*.ts
**/__pycache__/**
.eslintrc.json
.github/**
.gitignore
.gitlint
.nox/**
.pre-commit-config.yaml
.prettierrc.js
.pytest_cache/**
.venv/**
.vscode-test/**
.vscode/**
language_server/libs/*.dist-info/**
language_server/libs/bin/**
images/readme/**
node_modules/**
noxfile.py
out/**
pyproject.toml
src/**
tsconfig.json
uv.lock
webpack.config.js